body{
  margin: 0;
}

.ontwerp{
  width: 100vw;
  height: 100vh;
  /* margin: auto; */
  mix-blend-mode: ;
}

/* .groot{
  transform-origin: center;
  transform: scale(1.2);
  transition: all 1s ease;
} */

.kleur{
  padding-left: 3em;
  fill: #000000;
}

.Red_circle_active{
  animation: rotate 3s ease-in-out;
  animation-iteration-count: 1;
  transform-box: fill-box;
  transform-origin: center;
}

@keyframes rotate {
  from { transform: rotate(0deg); }
  to { transform: rotate(1080deg); }
}

.Blue_Polygon_animation{
  animation: move 1.6s ease-in-out;
}

.Red_Polygon_animation{
  animation: move 1.8s ease-in-out;
}

.Green_Polygon_animation{
  animation: move 2s ease-in-out;
}

@keyframes move {
  from {
    opacity: 1;
  }

  10% {
    opacity: 0;
    transform: translateX(0px);
  }

  50% {
    transform: translateX(-1000px);
    opacity: 0;
  }

  60%{
    opacity: 1;
  }

  to {
    transform: translateX(0px);
    opacity: 1;
  }
}


#bttn{
  /* z-index: 20; */
}
