/* gewone styles */

body{
  margin: 0;
  overflow: hidden;
  background-image: url(../img/texture.jpg);
  background-color: #b3b29a;
  background-blend-mode: overlay;
}

.ontwerp{
  width: 100vw;
  height: 100vh;
  margin: -4em auto auto auto;
}

#BG_vlak{
  fill: none;
  opacity: 0;
}

#Tekst{
  opacity: 1;
}

#TekstVerticaal{
  opacity: 0;
}

.differentContent::before{
  content: "Press 't' for text";
  font-family: helvetica, sans-serif;
  font-size: 2em;
  position: absolute;
  left: 4em;
  bottom: 2em;
  width: 10em;
  height: 1.5em;
  margin: auto;
  background-color: #0e0d09;
  font-family: helvetica, sans-serif;
  color: #EBD259;
  border: none;
  text-align: center;
  align-self: center;
  padding-top: 0.4em;


}

.instructionAnimation{
  animation: txt 0.5s ease-in-out forwards;
}

@keyframes txt{
  from{
    transform: translateX(-300px);
    transform-origin: center;
  }

  80%{
    transform: translateX(50px);
    transform-origin: center;
  }

  to{
    transform: translateX(0px);
    transform-origin: center;
  }

}

/*Begin animatie*/

.startAnimation{
  transform: scale(0.1);
  transform-origin: center;
  animation: BG_circle 1s ease infinite;
}

.startAnimation:hover{
  cursor: pointer;
}

.normal{
  transform: scale(1);
  transform-origin: center;
  animation: none
}

@keyframes BG_circle{
  from{
    transform: scale(0.1);
    transform-origin: center;
  }

  50% {
    transform: scale(0.12);
    transform-origin: center;
  }

  to{
    transform: scale(0.1);
    transform-origin: center;
  }
}

/*Rode cirkel animatie na eerste klik*/

.Red_circle_rotate{
  animation: Red_circle_rotation 2s linear infinite;
}

.Red_circle_scale{
  animation: Red_circle_scale 0.5s ease forwards;

}
@keyframes Red_circle_rotation {
  from{
    transform: rotate(0deg);
    transform-origin: center;
  }

  to{
    transform:  rotate(360deg);
    transform-origin: center;
  }

}

@keyframes Red_circle_scale{
  from{
    transform: scale(0);
    transform-origin: center;
  }

  to{
    transform: scale(0.2);
    transform-origin: center;
  }
}

#bttn{
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  bottom: 8em;
  text-align: center;
  width: 6em;
  height: 2em;
  margin: auto;
  background-color: #0e0d09;
  font-family: helvetica, sans-serif;
  font-size: 2em;
  color: #EBD259;
  border: none;
}

#bttn:hover{
  cursor: pointer;

}

.bttnAnimation{
  animation: bttn 0.3s ease forwards;
}

@keyframes bttn{
  from{
    opacity: 0;
    transform: scale(0);
    transform-origin: center;
  }

  80%{
    opacity: 1;
    transform: scale(1.1);
    transform-origin: center;
  }

  to{
    opacity: 1;
    transform: scale(1);
    transform-origin: center;
  }
}

/*Animatie na klik op de start knop*/

.BG_circleToNormal{
  animation: BG_circleToNormal 3.2s ease-in-out forwards;
}

@keyframes BG_circleToNormal{
  from{
    transform: scale(0.1);
    transform-origin: center;
  }
  to{
  transform: scale(1);
  transform-origin: center;
    }
}

/*Draaiende rode cirkel*/

.Red_circle_active{
  animation: rotate 4s ease-in-out;
  animation-iteration-count: 1;
  transform-box: fill-box;
  transform-origin: center;
}

@keyframes rotate {
  from {
    transform: scale(0.2) rotate(0deg);
  }
  80% {
    transform: scale(1) rotate(750deg);
  }
  to {
    transform: rotate(720deg);
  }
}

/*Polygons van links naar rechts in beeld*/

.outOfView{
  transform: translateX(-1000px);
}

.Blue_Polygon_animation{
  animation: move 1.2s ease-in-out;
}

.Red_Polygon_animation{
  animation: move 1.6s ease-in-out;
}

.Green_Polygon_animation{
  animation: move 2.2s ease-in-out;
}

.Yellow_Polygon_animation{
  animation: moveYellow 4s ease-in-out;
}


@keyframes move {
  from {
    transform: translateX(-1000px);
    opacity: 0;
  }

  40% {
    opacity: 0;
  }

  to {
    transform: translateX(0px);
    opacity: 1;
  }
}

@keyframes moveYellow {
  from {
    transform: translateX(-1000px);
    opacity: 0;
  }

  60% {
    transform: translateX(0px) rotate(0deg);
    transform-origin: center;
    opacity: 1;
  }

  80% {
    transform: rotate(30deg);
    transform-origin: center;
  }

  to {
    transform: rotate(0deg);
    transform-origin: center;
  }
}

/*Letter animaties*/

.letterAnimatie:nth-of-type(1){
  animation: tekst 0.5s ease-in-out;
  opacity: 1;

}

.letterAnimatie:nth-of-type(2){
  animation: tekst 0.7s ease-in-out;
  opacity: 1;
}

.letterAnimatie:nth-of-type(3){
  animation: tekst 0.9s ease-in-out;
  opacity: 1;
}

.letterAnimatie:nth-of-type(4){
  animation: tekst 1.1s ease-in-out;
  opacity: 1;
}

.letterAnimatie:nth-of-type(5){
  animation: tekst 1.3s ease-in-out;
  opacity: 1;
}

.letterAnimatie:nth-of-type(6){
  animation: tekst 1.5s ease-in-out;
  opacity: 1;
}

.letterAnimatie:nth-of-type(7){
  animation: tekst 1.9s ease-in-out;
  opacity: 1;
}

.letterAnimatie:nth-of-type(8){
  animation: tekst 2.1s ease-in-out;
  opacity: 1;
}

.cirkel{
  opacity: 0;
}


.cirkelAnimatie{
  animation: tekst 1.7s ease-in-out;
  opacity: 1;
}

.letter{
  opacity: 0;
}

@keyframes tekst{
  from{
    opacity: 0;
  }

  70% {
    transform: scale(1.1);
    transform-origin: center;
    opacity: 0;
  }

  to{
    transform: scale(1);
    transform-origin: center;
    opacity: 1;
  }
}

.hidden{
  opacity: 0;
}

#blackCircle{
  fill: #0e0d09;
}

#hiddenCirclePart{
  opacity: 0;
}

/*Media queries*/
@media (max-width: 414px) {

  #Tekst{
    opacity: 0;
  }

  #TekstVerticaal{
    opacity: 1;
    /* transform: translatex(-30) translateY(-30); */
  }

  .differentContent::before{
    content: "Tap the yellow area for text";
    font-size: 1.3em;
    margin-left: auto;
    margin-right: auto;
    bottom: 3em;
    height: 2.6em;
    left: 5em;

  }


  .ontwerp{
    position: relative;
    width: 100vw;
    height: auto;
    margin: 15em auto auto auto;
    transform: rotate(90deg) scale(1.8);
    transform-origin: center;
    z-index: 0;
  }

  #bttn{
    position: absolute;
    z-index: 1;
    margin-left: auto;
    margin-right: auto;
    bottom: 4em;
  }
}
